<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="seleniumAuto.FormExample"/>
      <class name="seleniumAuto.KeyBoard"/>
      <class name="seleniumAuto.IframeHandle"/>
      <class name="seleniumAuto.FirstWebAutomation"/>
      <class name="seleniumAuto.AlertJs"/>
      <class name="seleniumAuto.SeleniumWaiting"/>
      <class name="seleniumAuto.Nevigate"/>
      <class name="seleniumAuto.Hover"/>
      <class name="seleniumAuto.DropDown"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
